<!DOCTYPE HTML>
<html>
<head>
    <title>Calichat - {% block titlehead %}{% endblock %}</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style type="text/css">
		.all-content {
			max-width: 800px;
			margin-left: auto;
			margin-right: auto;
		}
    		.chat-content {
    			overflow:scroll;
    			max-height:400px;
    			max-width: 600px;
    			box-sizing: border-box;
    			border: 10px solid #707B7C;
    			margin-bottom: 20px;
    		}
    </style>
    {% block head%}{% endblock %}
</head>
<body>
	{% if current_user.is_authenticated %}
	  Logged in as {{ current_user.email }}. <a href="{{ url_for('logout') }}">Logout</a>
	{% else %}
	  <a href="{{ url_for('login') }}">Login</a> or <a href="{{ url_for('signup') }}">Sign Up</a>
	{% endif %}

	{% with messages = get_flashed_messages(with_categories=true) %}
	  {% if messages %}
	    <ul class=flashes>
	    {% for category, message in messages %}
	      <li class="{{ category }}">{{ message }}</li>
	    {% endfor %}
	    </ul>
	  {% endif %}
	{% endwith %}
	<div class="all-content">
    {% block body %}{% endblock %}
    </div>
</body>
</html>