{% extends "layout.html" %}

{% block titlehead %}{{ chat_room.title }}{% endblock %}

{% block head%}
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
			let SERVER_URL = location.protocol + '//{{ config.SERVER_NAME }}{{ config.SOCKET_NAMESPACE }}';

			let socket = io.connect(SERVER_URL);

			// enable the chat when connect event is received
			socket.on('connect', function() {
				$('#chat_room_submit').prop( "disabled", false );
				// join the char room
		    });

			// event handler that takes care of all the messages received from the server
			socket.on('chat_response', function(msgJson) {
			  	let messageToDisplay;
			  	if (msgJson.message_type == 'user_message'){
			  		messageToDisplay = msgJson.sender + ': ' + msgJson.content;
			  	}
			  	else {
			  	  	messageToDisplay = msgJson.content;
			  	}

		        $('#chat_content').append($('<div/>').text(messageToDisplay).html() + '<br/>');
		    });

			// attaches event to the form to send messages to the chat room
			$('form#chat_room').submit(function(event) {
		        socket.emit('broadcast_event', {content: $('#chat_room_data').val()});
		        // clean up the form
		        $('#chat_room_data').val('');
		        return false;
		    });
		});

	</script>
{% endblock %}

{% block body %}

	<h3>{{ chat_room.title }} (<a href="{{ url_for('room_list') }}">leave</a>)</h3>

    <div class="chat-content" id="chat_content"></div>

	<form id="chat_room" method="POST" action='#'>
        <input type="text" name="chat_room_data" id="chat_room_data"
        		placeholder="Message {{ chat_room.title }}" size="50"
        		autocomplete="off">
        <input type="submit" id="chat_room_submit" value="Broadcast"  disabled="disabled">
    </form>
{% endblock %}