{% extends "layout.html" %}

{% block titlehead %}{{ chat_room.title }}{% endblock %}

{% block head%}
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment-with-locales.min.js"></script>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
			let WEBSOCKET_SERVER_URL = location.protocol + '//{{ config.SERVER_NAME }}{{ config.SOCKET_NAMESPACE }}';
			let ROOM_ID = {{ chat_room.id }};
			let socket = io.connect(WEBSOCKET_SERVER_URL);
			let oldMessages = {{ old_messages|tojson }};
			let	currentUser = '{{ current_user.email }}';
			let oldMessageURL = "{{ url_for('get_old_messages', room_id=chat_room.id) }}";

			// function to format chat messages
			let formatMessage = function(msgJson) {
			  	let messageToDisplay;
			  	if (msgJson.message_type == 'user_message'){
			  		messageToDisplay = msgJson.sender + ': ' + msgJson.content;
			  	}
			  	else {
			  	  	messageToDisplay = msgJson.content;
			  	}
			  	let localTime = moment(new Date(msgJson.timestamp)).format('LTS');
			  	let deleteSpan = '   ';
			  	if (msgJson.sender == currentUser) {
					deleteSpan = '<span class="delete-message"> 🗑 </span>';
			  	}
				return '<div class="chat-message" id="' +
					msgJson.id + '"> '+ deleteSpan +' ['+ localTime +'] '+ messageToDisplay +'</div>';
			};

			// function to load older messages after the first ones passed via the template
			let loadAndShowOldMessages = function() {
				$.get(oldMessageURL, {page: $('#load-old-messages').data('next-page')})
					.done(function(data) {
					  	data.items.forEach(function(msgJson) {
							$('#chat-content').prepend(formatMessage(msgJson));
						});
					  	$('#chat-content').prepend($('#load-old-messages'));
						if (data.next_page === null) {
						  	$('#load-old-messages').hide();
						}
						else {
						  	$('#load-old-messages').data('next-page', data.next_page);
						}
					});
			};

			// define a custom function to compute the height of the chatroom box
			// TODO: remove this temporary hack and find a better solution
			let getChatBoxHeight = function() {
			  	let height = 0;
			  	$('#chat-content').children().each(function(index){ height += $(this).height()});
			  	return height;
			};

			// append the most recent old messages
			oldMessages.items.forEach(function(msgJson) {
				$('#chat-content').prepend(formatMessage(msgJson));
			});
			// show the load-old-messages link if there are other old messages
			if (oldMessages.next_page !== null) {
			  	$('#chat-content').prepend($('#load-old-messages'));
			  	$('#load-old-messages').show();
			  	$('#load-old-messages').data('next-page', oldMessages.next_page);
			}
			// and attach an event handler to load more
			$('#load-old-messages').on('click', function() {
				loadAndShowOldMessages();
			});

			// enable the chat when connect event is received
			socket.on('connect', function() {
				$('#chat_room_submit').prop( "disabled", false );
				// join the char room
				socket.emit('join_room', {room_id: ROOM_ID});

				// attach a click event for deleting the messages
				$('#chat-content').on('click', '.delete-message', function() {
					let messageIdToDelete = $(this).parent()[0].id;
					socket.emit('delete_message', {room_id: ROOM_ID, message_id: messageIdToDelete});
				});
		    });

			// event handler that takes care of deleting messages from the page
			socket.on('delete_message_response', function(msgJson) {
		        // performe the delete
		        $('#'+ msgJson.message_id).hide('slow', function(){
		          this.remove();
		        });
		    });

			// handle error messages as simple alerts
			socket.on('error_response', function(msgJson) {
				alert(msgJson['content']);
			});

			// event handler that takes care of all the messages received from the server
			socket.on('chat_response', function(msgJson) {
		        $('#chat-content').append(formatMessage(msgJson));
		        $('#chat-content').scrollTop(getChatBoxHeight());
		    });

			// attaches event to the form to send messages to the chat room
			$('form#chat_room').submit(function(event) {
		        socket.emit(
		            'room_event',
		            {
		            		content: $('#chat_room_data').val(),
		            		room_id: ROOM_ID
		            	}
		        );
		        // clean up the form
		        $('#chat_room_data').val('');
		        return false;
		    });
		});

	</script>
{% endblock %}

{% block body %}

	<h3>{{ chat_room.title }} (<a class="leave-room" href="{{ url_for('room_list') }}">leave</a>)</h3>
    <div class="chat-content" id="chat-content">
    		<div class="load-old-messages" id="load-old-messages"><a href="#">Older messages</a></div>
    </div>

	<form id="chat_room" method="POST" action='#'>
        <input type="text" name="chat_room_data" id="chat_room_data"
        		placeholder="Message {{ chat_room.title }}" size="50"
        		autocomplete="off">
        <input type="submit" id="chat_room_submit" value="Send"  disabled="disabled">
    </form>
{% endblock %}